<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>每日一词</key>
	<dict>
		<key>order</key>
		<string>1</string>
		<key>Icon</key>
		<string>Aquarius</string>
		<key>Url</key>
		<string>http://www.idreems.com/openapi/aster.php?type=shuiping</string>
		<key>Title</key>
		<string>每日一词</string>
		<key>TimeSpan</key>
		<string></string>
	</dict>
	<key>每日一句</key>
	<dict>
		<key>order</key>
		<string>2</string>
		<key>Icon</key>
		<string>Pisces</string>
		<key>Url</key>
		<string>http://www.idreems.com/openapi/aster.php?type=shuangyu</string>
		<key>Title</key>
		<string>每日一句</string>
		<key>TimeSpan</key>
		<string></string>
	</dict>
	<key>一条新闻</key>
	<dict>
		<key>order</key>
		<string>3</string>
		<key>Icon</key>
		<string>Aries</string>
		<key>Url</key>
		<string>http://www.idreems.com/openapi/aster.php?type=baiyang</string>
		<key>Title</key>
		<string>一条新闻</string>
		<key>TimeSpan</key>
		<string></string>
	</dict>
	<key>一则美文</key>
	<dict>
		<key>order</key>
		<string>4</string>
		<key>Icon</key>
		<string>Taurus</string>
		<key>Url</key>
		<string>http://www.idreems.com/openapi/aster.php?type=jinniu</string>
		<key>Title</key>
		<string>一则美文</string>
		<key>TimeSpan</key>
		<string></string>
	</dict>
	<key>一首歌</key>
	<dict>
		<key>order</key>
		<string>5</string>
		<key>Icon</key>
		<string>Gemini</string>
		<key>Url</key>
		<string>http://www.idreems.com/openapi/aster.php?type=shuangzi</string>
		<key>Title</key>
		<string>一首歌</string>
		<key>TimeSpan</key>
		<string></string>
	</dict>
	<key>一句对白</key>
	<dict>
		<key>order</key>
		<string>6</string>
		<key>Icon</key>
		<string>Cancer</string>
		<key>Url</key>
		<string>http://www.idreems.com/openapi/aster.php?type=juxie</string>
		<key>Title</key>
		<string>一句对白</string>
		<key>TimeSpan</key>
		<string></string>
	</dict>
	<key>一个谜语</key>
	<dict>
		<key>order</key>
		<string>7</string>
		<key>Icon</key>
		<string>Leo</string>
		<key>Url</key>
		<string>http://www.idreems.com/openapi/aster.php?type=shizi</string>
		<key>Title</key>
		<string>一个谜语</string>
		<key>TimeSpan</key>
		<string></string>
	</dict>
	<key>一则笑话</key>
	<dict>
		<key>order</key>
		<string>8</string>
		<key>Icon</key>
		<string>Virgo</string>
		<key>Url</key>
		<string>http://www.idreems.com/openapi/aster.php?type=chunv</string>
		<key>Title</key>
		<string>一则笑话</string>
		<key>TimeSpan</key>
		<string></string>
	</dict>
	<key>WIKI百科</key>
	<dict>
		<key>order</key>
		<string>9</string>
		<key>Icon</key>
		<string>Libra</string>
		<key>Url</key>
		<string>http://www.idreems.com/openapi/aster.php?type=tiancheng</string>
		<key>Title</key>
		<string>天秤座</string>
		<key>TimeSpan</key>
		<string>9/24-10/23</string>
	</dict>
	<key>我的收藏</key>
	<dict>
		<key>order</key>
		<string>10</string>
		<key>Icon</key>
		<string>Scorpio</string>
		<key>Url</key>
		<string>http://www.idreems.com/openapi/aster.php?type=tianxie</string>
		<key>Title</key>
		<string>天蝎座</string>
		<key>TimeSpan</key>
		<string>10/24-11/22</string>
	</dict>
	<key>推荐</key>
	<dict>
		<key>order</key>
		<string>11</string>
		<key>Icon</key>
		<string>Sagittarius</string>
		<key>Url</key>
		<string>http://www.idreems.com/openapi/aster.php?type=sheshou</string>
		<key>Title</key>
		<string>射手座</string>
		<key>TimeSpan</key>
		<string>11/23-12/22</string>
	</dict>
	<key>摩羯座</key>
	<dict>
		<key>order</key>
		<string>12</string>
		<key>Icon</key>
		<string>Capricorn</string>
		<key>Url</key>
		<string>http://www.idreems.com/openapi/aster.php?type=mojie</string>
		<key>Title</key>
		<string>摩羯座</string>
		<key>TimeSpan</key>
		<string>12/23-1/22</string>
	</dict>
</dict>
</plist>
