<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>单词</key>
	<dict>
		<key>order</key>
		<string>1</string>
		<key>Icon</key>
		<string>Aquarius</string>
		<key>Url</key>
		<string>http://www.idreems.com/openapi/aster.php?type=shuiping</string>
		<key>Title</key>
		<string>每日单词</string>
		<key>TimeSpan</key>
		<string></string>
	</dict>
	<key>短句</key>
	<dict>
		<key>order</key>
		<string>2</string>
		<key>Icon</key>
		<string>Pisces</string>
		<key>Url</key>
		<string>http://www.idreems.com/openapi/aster.php?type=shuangyu</string>
		<key>Title</key>
		<string>每日短句</string>
		<key>TimeSpan</key>
		<string></string>
	</dict>
	<key>新闻</key>
	<dict>
		<key>order</key>
		<string>3</string>
		<key>Icon</key>
		<string>Aries</string>
		<key>Url</key>
		<string>http://www.idreems.com/openapi/aster.php?type=TIME</string>
		<key>Title</key>
		<string>每日新闻</string>
		<key>TimeSpan</key>
		<string></string>
	</dict>
	<key>美文</key>
	<dict>
		<key>order</key>
		<string>4</string>
		<key>Icon</key>
		<string>Taurus</string>
		<key>Url</key>
		<string>http://www.idreems.com/openapi/aster.php?type=jinniu</string>
		<key>Title</key>
		<string>每日美文</string>
		<key>TimeSpan</key>
		<string></string>
	</dict>
	<key>每日笑话</key>
	<dict>
		<key>order</key>
		<string>8</string>
		<key>Icon</key>
		<string>Virgo</string>
		<key>Url</key>
		<string>http://www.idreems.com/openapi/aster.php?type=chunv</string>
		<key>Title</key>
		<string>每日笑话</string>
		<key>TimeSpan</key>
		<string></string>
	</dict>
	<key>WIKI百科</key>
	<dict>
		<key>order</key>
		<string>9</string>
		<key>Icon</key>
		<string>Libra</string>
		<key>Url</key>
		<string>http://www.idreems.com/openapi/aster.php?type=tiancheng</string>
		<key>Title</key>
		<string>WIKI百科</string>
		<key>TimeSpan</key>
		<string></string>
	</dict>
</dict>
</plist>
